@media screen and (min-width: 786px) and (min-height:601px){
  .responsive {
    font-family:Arial;
    color:blue;
    font-size:36px;
  }
}

@media screen and (max-width:785px) and (min-width:350px) and (max-height:600px) and (min-height:350px){
  .responsive {
    font-family:Helvetica;
    color:red;
    font-size:24px;
  }
}


@media screen and (min-width: 100px) and (max-width:349px) and (min-height: 100px) and (max-height:349px){
  .responsive {
    font-family:Courier;
    color:purple;
    font-size:18px;
  }
}
